<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSS Airline</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
</head>

<header>
    <div th:replace="~{/nav.html}"></div>
</header>

<body class="dashboard">
<div class="containers">
    <div class="container">
        <a th:href="@{/airplanes}" th:text="${'Airplanes'}"></a>
        <span class="material-symbols-outlined">flight</span>
    </div>
    <div class="container">
        <a th:href="@{/airports}" th:text="${'Airports'}"></a>
        <span class="material-symbols-outlined">location_on</span>
    </div>
</div>
</body>
</html>
