<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" th:href="@{/css/registration.css}">
    <link rel="stylesheet" th:href="@{/css/nav.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
    <script th:inline="javascript">
        function validateForm() {
            return validatePassword() && validatePasswordMatch();
        }

        function validatePassword() {
            var passwordInput = document.getElementById('password');
            var passwordHelp = document.getElementById('passwordHelp');
            var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$/;

            if (!passwordRegex.test(passwordInput.value)) {
                passwordHelp.style.color = 'red';
                passwordHelp.innerText = 'Password must be at least 8 characters long and include uppercase, lowercase, and a digit.';
                return false;
            } else {
                passwordHelp.innerText = '';
                return true;
            }
        }

        function validatePasswordMatch() {
            var passwordInput = document.getElementById('password');
            var confirmPasswordInput = document.getElementById('confirmPassword');
            var passwordMatchHelp = document.getElementById('passwordMatchHelp');

            if (passwordInput.value !== confirmPasswordInput.value) {
                passwordMatchHelp.innerText = 'Passwords do not match.';
                return false;
            } else {
                passwordMatchHelp.innerText = '';
                return true;
            }
        }

        function togglePasswordVisibility() {
            var passwordInput = document.getElementById('password');
            var visibilityButton = document.getElementById('visibilityButton');

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                visibilityButton.innerText = 'Hide';
            } else {
                passwordInput.type = 'password';
                visibilityButton.innerText = 'Show';
            }
        }
    </script>
</head>

<header>
    <div th:replace="~{/nav.html}"></div>
</header>

<body>
<form action="/user/create" class="form-div" th:object="${user}" method="POST">
    <div th:if="${error}" class="error" style="color: red;">
        <p th:text="${error}"></p>
    </div>
    <div>
        <img th:src="@{/images/user-login.png}" alt="LOGIN" class="user-img">
    </div>
    <div id="registration-text">
        <strong>Create user</strong>
    </div>
    <div class="input-text-div">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" th:value="${user.username}" required>
        <br>
    </div >
    <div class="input-text-div">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" th:value="${user.password}" required oninput="validatePassword()">
        <button type="button" id="visibilityButton" onclick="togglePasswordVisibility()">Show</button>
        <br>
        <small id="passwordHelp" style="color: #808080;"></small>
    </div>
    <div class="input-text-div">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required oninput="validatePasswordMatch()">
        <br>
        <small id="passwordMatchHelp" style="color: red;"></small>
    </div>
    <div class="input-text-div">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:value="${user.email}" required>
        <br>
    </div>
    <div>
        <button class="button-29" role="button">Create user</button>
    </div>
    <div th:if="${param.error}">
        <p style="color: red; font-weight: bold" th:text="${param.error}"></p>
    </div>
</form>
</body>

</html>
