<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSS Airline</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
    <link rel="stylesheet" th:href="@{/css/admin-all.css}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
</head>

<header>
    <div th:replace="~{/nav.html}"></div>
</header>

<body>
<div class="smrad">
    <div class="filter">
        <form th:action="@{/flights}" method="post" class="form-div">
            <h1>FILTER FLIGHTS</h1>
            <div class="form-inside-parent-div">
                <div class="form-inside-div">
                    <label for="from"><strong>From:</strong></label>
                    <input type="text" id="from" name="from" list="fromAirports" required>
                    <datalist id="fromAirports">
                        <option th:each="airport : ${airports}" th:value="${airport.name}"></option>
                    </datalist>
                </div>
                <div class="form-inside-div">
                    <label for="to"><strong>To:</strong></label>
                    <input type="text" id="to" name="to" list="toAirports" required>
                    <datalist id="toAirports">
                        <option th:each="airport : ${airports}" th:value="${airport.name}"></option>
                    </datalist>
                </div>
            </div>
            <label for="date"><strong>Date:</strong></label>
            <input type="date" id="date" name="date" required>

            <button class="button-29" role="button"><span class="material-symbols-outlined">search</span></button>
        </form>
    </div>

    <div class="container">

        <h1>Flights</h1>

        <div th:if="${error}" class="error" style="color: red;">
            <p th:text="${error}"></p>
        </div>
        <div class="all-info-parent">
            <form th:action="@{/flights/create}" method="get">
                <button class="button-29" role="button"><span class="material-symbols-outlined">add</span></button>
            </form>
            <div class="all-info">
                <div th:each="flight : ${flights}" class="all-info-container">
                    <div class="one-info">
                        <div><strong> <span th:text="${flight.flightNumber}" class="reservation-text"></span></strong>
                        </div>
                        <div><strong> <span th:text="${flight.from.name}"
                                            class="reservation-text"></span></strong></div>
                        <div><strong> <span th:text="${flight.to.name}"
                                            class="reservation-text"></span></strong></div>
                        <div><strong> <span th:text="${flight.airplane.model}"
                                            class="reservation-text"></span></strong></div>
                        <div><strong> <span th:text="${flight.date}"
                                            class="reservation-text"></span></strong></div>
                        <div><strong> <span th:text="${flight.time}"
                                            class="reservation-text"></span></strong></div>
                        <div><strong> <span th:text="${flight.gate}"
                                            class="reservation-text"></span></strong></div>
                        <div><strong> <span th:text="${flight.duration}"
                                            class="reservation-text"></span></strong></div>
                        <div class="buttons">
                            <form th:action="@{'/flights/delete/' + ${flight.getId()}}" method="post">
                                <button class="button-29" role="button"><span
                                        class="material-symbols-outlined">delete</span></button>
                            </form>
                            <form th:action="@{'/flights/update/' + ${flight.getId()}}" method="get">
                                <button class="button-29" role="button"><span
                                        class="material-symbols-outlined">update</span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
