<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight List</title>
    <link rel="stylesheet" th:href="@{/css/flights.css}">
</head>

<header>
    <div th:replace="~{/nav.html}"></div>
</header>

<body>
<div th:if="${#lists.size(flights) > 0}">
    <div class="flight-header">
        <div>Flight Number</div>
        <div>From</div>
        <div>To</div>
        <div>Airplane</div>
        <div>Date</div>
        <div>Time</div>
        <div>Gate</div>
        <div>Duration</div>
        <div>Buy</div>
    </div>

    <div th:each="flight : ${flights}" class="flight">
        <div th:text="${flight.flightNumber}"></div>
        <div th:text="${flight.from.name}"></div>
        <div th:text="${flight.to.name}"></div>
        <div th:text="${flight.airplane.model}"></div>
        <div th:text="${#dates.format(flight.date, 'yyyy-MM-dd')}"></div>
        <div th:text="${#dates.format(flight.time, 'HH:mm')}"></div>
        <div th:text="${flight.gate}"></div>
        <div th:text="${#dates.format(flight.duration, 'HH:mm')}"></div>
        <button type="submit">BUY TICKET</button>
    </div>
</div>

<div th:if="${#lists.size(flights) == 0}">
    <h1> SORRY, NO FLIGHTS FOUND! </h1>
</div>
</body>

</html>
