<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Search</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>

<header>
    <div th:replace="~{/nav.html}"></div>
</header>

<body>
    <div>
        <form th:action="@{/flights}" method="post" class="form-div">
            <div class="form-inside-parent-div">
                <div class="form-inside-div">
                    <label for="from">From:</label>
                    <input type="text" id="from" name="from" list="fromAirports" required>
                    <datalist id="fromAirports">
                        <option th:each="airport : ${airports}" th:value="${airport.name}"></option>
                    </datalist>
                </div>
                <div class="form-inside-div">
                    <label for="to">To:</label>
                    <input type="text" id="to" name="to" list="toAirports" required>
                    <datalist id="toAirports">
                        <option th:each="airport : ${airports}" th:value="${airport.name}"></option>
                    </datalist>
                </div>
            </div>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required>

            <button type="submit">Search</button>
            <div th:if="${error}" class="error" style="color: red;">
                <p th:text="${error}"></p>
            </div>
        </form>
    </div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();

        today = yyyy + '-' + mm + '-' + dd;
        document.getElementById("date").setAttribute("min", today);
    });
</script>
</html>
