<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seats</title>
    <link rel="stylesheet" th:href="@{/css/seats.css}">
</head>

<header>
    <div th:replace="~{/nav.html}"></div>
</header>

<body>
<div class="parent-div">
    <h1>Available Seats</h1>

    <form th:action="@{/submit-seats}" method="post">
        <div th:each="seat, iterStat : ${availableSeats}" class="seat-container">
            <div class="seat">
                <div class="seat-number" th:text="${iterStat.count}"></div>
                <div><strong>Flight:</strong> <span th:text="${seat.flight.flightNumber}"></span></div>
                <div><strong>Price:</strong> <span th:text="${seat.seatPrice}"></span></div>
                <div><strong>Class:</strong> <span th:text="${seat.seatClass}"></span></div>

                <!-- Add a checkbox for each seat -->
                <div>
                    <input type="checkbox" th:id="'seat_' + ${iterStat.count}" name="selectedSeats"
                           th:value="${seat.id}">
                    <label th:for="'seat_' + ${iterStat.count}" >Select Seat</label>
                </div>
            </div>
        </div>

        <!-- Submit button -->
        <button type="submit">Book Selected Seats</button>
    </form>
</div>
</body>

</html>
