<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSS Airline</title>
    <link rel="stylesheet" th:href="@{/css/ti.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
    <script type="text/javascript">
        window.history.forward();
        function noBack() { window.history.forward(); }
    </script>
</head>

<header>
    <div th:replace="~{/nav.html}"></div>
</header>

<body onload="noBack();"
      onpageshow="if (event.persisted) noBack();" onunload="">
<div class="tickets">
    <h1>Book Tickets</h1>
    <div class="total-price">
        <strong>Total Price: </strong><span th:text="${totalPrice}"></span>€
    </div>
    <div class="parent-div">
        <form th:action="@{/tickets/reserve}" method="post" class="form-div-2">
            <div th:each="ticket, iterStat : ${ticketList}" class="seat">
                <input type="hidden" th:name="|passenger[${iterStat.index}]|" th:value="${ticket.passenger.id}"/>
                <input type="hidden" th:name="|flight[${iterStat.index}]|" th:value="${ticket.flight.id}"/>
                <input type="hidden" th:name="|seat[${iterStat.index}]|" th:value="${ticket.seat.id}"/>

                <div class="ticket-details">
                    <div>
                        <label for="passengerName">Passenger:</label>
                        <input type="text" id="passengerName" class="imput"
                               th:value="${ticket.passenger.name + ' ' + ticket.passenger.surname}" readonly>
                    </div>
                    <div>
                        <label for="flightNumber">Flight:</label>
                        <input type="text" id="flightNumber" class="imput" th:value="${ticket.flight.flightNumber}"
                               readonly>
                    </div>
                    <div>
                        <label for="seatNumber">Seat:</label>
                        <input type="text" id="seatNumber" class="imput" th:value="${ticket.seat.seatNumber}" readonly>
                    </div>
                    <div>
                        <label for="ticketPrice">Price:</label>
                        <input type="text" id="ticketPrice" class="imput" th:value="${ticket.ticketPrice}" readonly>
                        <input type="hidden" th:name="|price[${iterStat.index}]|" th:value="${ticket.ticketPrice}"/>
                    </div>
                </div>
            </div>
            <button class="button-29" role="button" type="submit">Reserve Tickets</button>
        </form>
    </div>
</div>
</body>

</html>