<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Search</title>
    <link rel="stylesheet" th:href="@{/css/registration.css}">
    <link rel="stylesheet" th:href="@{/css/nav.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
</head>

<header>
    <div th:replace="~{/nav.html}"></div>
</header>

<div th:if="${error}" class="error" style="color: red;">
    <p th:text="${error}"></p>
</div>

<body>
    <form th:action="@{/users/update}" th:object="${user}" method="post" class="form-div">
        <input type="hidden" th:field="*{id}"/>
        <div th:if="${error}" class="error" style="color: red;">
            <p th:text="${error}"></p>
        </div>
        <div id="registration-text">
            <strong>Update User</strong>
        </div>
        <div class="input-text-div">
            <label for="username">Username:</label>
            <input type="text" id="username" th:field="*{username}">
        </div>

        <div class="input-text-div">
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}">
        </div>

        <div class="input-text-div">
            <label for="isAdmin">Is Admin:</label>
            <select id="isAdmin" th:field="*{isAdmin}" required>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>

        <div>
            <button class="button-29" role="button">Update User</button>
        </div>
    </form>
</body>
</html>
