<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSS Airline</title>
    <link rel="stylesheet" th:href="@{/css/registration.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
</head>
<header>
    <div th:replace="~{/nav.html}"></div>
</header>
<body>
<form action="/login" class="form-div" method="post">
    <div>
        <img th:src="@{/images/user-login.png}" alt="LOGIN" class="user-img">
    </div>
    <div id="login-text">
        <strong>Login</strong>
    </div>
    <div class="input-text-div">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="username" autofocus required>
    </div>
    <div class="input-text-div">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="password"  required>
    </div>
    <div>
        <button class="button-29" role="button">Login</button>
    </div>
    <div th:if="${error}" class="error" style="color: red;">
        <p th:text="${error}"></p>
    </div>
</form>
</body>
</html>
