<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Search</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
    <link rel="stylesheet" th:href="@{/css/admin-all.css}">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<header>
    <div th:replace="~{/nav.html}"></div>
</header>

<body>
<div th:if="${error}" class="error" style="color: red;">
    <p th:text="${error}"></p>
</div>
<div class="container">

    <h1>Users</h1>

    <div th:if="${error}" class="error" style="color: red;">
        <p th:text="${error}"></p>
    </div>
    <div class="all-info-parent">
        <form th:action="@{/users/create}" method="get">
            <button class="button-29" role="button"><span class="material-symbols-outlined">add</span></button>
        </form>
        <div class="all-info">
            <div th:each="admin : ${admins}" class="all-info-container">
                <div class="one-info">
                    <div><strong>Username:  </strong><span th:text="${admin.getUsername()}" class="reservation-text"></span></div>
                    <div><strong>Email: </strong><span th:text="${admin.getEmail()}"
                                        class="reservation-text"></span></div>
                    <div><strong>Is admin: </strong><span th:text="${admin.getIsAdmin()}"
                                        class="reservation-text"></span></div>
                    <div class="buttons">
                        <form th:action="@{'/users/update/' + ${admin.getUsername()}}" method="get">
                            <button class="button-29" role="button"><span class="material-symbols-outlined">update</span></button>
                        </form>
                    </div>
                </div>
            </div>

            <div th:each="user : ${users}" class="all-info-container">
                <div class="one-info">
                    <div><strong>Username:  </strong><span th:text="${user.getUsername()}" class="reservation-text"></span></div>
                    <div><strong>Email: </strong><span th:text="${user.getEmail()}"
                                                       class="reservation-text"></span></div>
                    <div><strong>Is admin: </strong><span th:text="${user.getIsAdmin()}"
                                                          class="reservation-text"></span></div>
                    <div class="buttons">
                        <form th:action="@{'/users/update/' + ${user.getUsername()}}" method="get">
                            <button class="button-29" role="button"><span class="material-symbols-outlined">update</span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

