body {
    margin-top: 70px;
    background-image: url("../images/airplane-wing-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;


    color: white;
}

.form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: white;
    gap: 20px;
    padding: 40px;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    transform: translate(30%, -50%);
}

.form-div h1{
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #002dcc;
}

.form-inside-parent-div {
    display: flex;
    gap: 10px;
}

.form-inside-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

select {
    background-color: white;
    border: none;
    border-bottom: 2px solid #002dcc;
    color: black;
    font-size: large;

    &:focus {
        border: none;
        border-bottom: #002dcc solid 4px;
        box-shadow: 2px 2px 5px black;
    }
}

label {
    color: #002dcc;
}

.user-img{
    height: 50px;
    width: 50px;
}

input {
    height: 20px;
    border: none;
    border-bottom: #002dcc solid 2px;
    font-size: large;

    &:focus {
        border: none;
        border-bottom: #002dcc solid 4px;
        box-shadow: 2px 2px 5px black;
    }
}

.user-img {
    height: 50px;
    width: 50px;
}