* {
    font-family: "Trebuchet MS", sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 10px;
    left: 10px;
    width: 98%;
}

li {
    float: right;
    margin-top: 5px;
    padding: 5px 15px;
}

#icon{
    height: 35px;
    width: 50px;
}

li a{
    padding: 5px 10px;
    display: inline;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.text-link {
    padding: 5px 10px;
    display: inline;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.4s ease;
    &:hover{
        background-color: white;
        color: #002dcc;
        box-shadow: 5px 5px 20px black;
        border-radius: 30px;
    }
}

.logo-img{
    height: 35px;
    width: 50px;
}


