body {
    background-image: url("../images/airplane-wing-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

#logo-img {
    height: 30px;
    width: 40px;
}

h2 {
    color: white;
}

#login-text {
    color: #002dcc;
    font-size: 28px;
}

#registration-text {
    color: #002dcc;
    font-size: 28px;
}

.form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: white;
    gap: 20px;
    padding: 40px;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    width: 20%;
    transform: translate(30%, -50%);
    font-weight: bold;
}

.input-text-div {
    background-color: white;
    padding: 5px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input {
    height: 20px;
    border: none;
    border-bottom: #002dcc solid 2px;

    &:focus {
        border: none;
        border-bottom: #002dcc solid 4px;
        box-shadow: 2px 2px 5px black;
    }
}

.user-img {
    height: 50px;
    width: 50px;
}

#icon{
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.password-input {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    left: 10px;
}

#visibilityButton {
    background-color: white;
    border: none;
    color: #002dcc;
    width: 50px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    transition: scale 0.2s ease;

    &:hover{
        scale: 1.2;
    }
}

.form-div-update-flight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: white;
    gap: 10px;
    padding: 20px;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    width: 50%;
    transform: translate(30%, -50%);
    font-weight: bold;
}

select{
    border: 2px solid #002dcc;
    background-color: white;
}


