body {
    margin-top: 70px;
    background-image: url("../images/airplane-wing-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 20px;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

html{
    height: 100%;
    overflow: hidden;
}

*{
    box-sizing: border-box;
}

.seat-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.seat {
    border: 2px solid white; /* Border color for seats */
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 8px;
    background: rgb(28,108,217);
    background: linear-gradient(90deg, rgba(28,108,217,0.5159313725490196) 0%, rgba(255,255,255,1) 16%, rgba(243,243,243,1) 100%);
    color: #2c3e50;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.seat div{
    padding: 5px;
}

.seat:hover {
    transform: scale(1.05); /* Scale the seat by 5% on hover */
}

.seat-number {
    font-weight: bold;
    margin-bottom: 5px;
}

.available-seats{
    width: 40%;
    display: flex;
    flex-direction: column;
    height: 90%;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.airplane-seats{
    width: 40%;
    height: 90%;
    padding: 10px;
    overflow: auto;
}

.parent-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    overflow: auto;
    direction: rtl;
}

.available-seats h1{
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .checkbox-wrapper-12 {
     position: relative;
     margin-right: 15px;
 }
.checkbox-wrapper-12 > svg {
    position: absolute;
    top: -130%;
    left: -170%;
    width: 110px;
    pointer-events: none;
}
.checkbox-wrapper-12 * {
    box-sizing: border-box;
}
.checkbox-wrapper-12 input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    margin: 0;
}
.checkbox-wrapper-12 input[type="checkbox"]:focus {
    outline: 0;
}
.checkbox-wrapper-12 .cbx {
    width: 24px;
    height: 24px;
    top: calc(50vh - 12px);
    left: calc(50vw - 12px);
}
.checkbox-wrapper-12 .cbx input {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border: 2px solid #ffffff;
    border-radius: 50%;
}
.checkbox-wrapper-12 .cbx label {
    width: 24px;
    height: 24px;
    background: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-filter: url("#goo-12");
    filter: url("#goo-12");
    transform: trasnlate3d(0, 0, 0);
    pointer-events: none;
}
.checkbox-wrapper-12 .cbx svg {
    position: absolute;
    top: 5px;
    left: 4px;
    z-index: 1;
    pointer-events: none;
}
.checkbox-wrapper-12 .cbx svg path {
    stroke: #fff;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 19;
    stroke-dashoffset: 19;
    transition: stroke-dashoffset 0.3s ease;
    transition-delay: 0.2s;
}
.checkbox-wrapper-12 .cbx input:checked + label {
    animation: splash-12 0.6s ease forwards;
}
.checkbox-wrapper-12 .cbx input:checked + label + svg path {
    stroke-dashoffset: 0;
}
@-moz-keyframes splash-12 {
    40% {
        background: #002dcc;
        box-shadow: 0 -18px 0 -8px #002dcc, 16px -8px 0 -8px #002dcc, 16px 8px 0 -8px #002dcc, 0 18px 0 -8px #002dcc, -16px 8px 0 -8px #002dcc, -16px -8px 0 -8px #002dcc;
    }
    100% {
        background: #002dcc;
        box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
}
@-webkit-keyframes splash-12 {
    40% {
        background: #002dcc;
        box-shadow: 0 -18px 0 -8px #002dcc, 16px -8px 0 -8px #002dcc, 16px 8px 0 -8px #002dcc, 0 18px 0 -8px #002dcc, -16px 8px 0 -8px #002dcc, -16px -8px 0 -8px #002dcc;
    }
    100% {
        background: #002dcc;
        box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
}
@-o-keyframes splash-12 {
    40% {
        background: #002dcc;
        box-shadow: 0 -18px 0 -8px #002dcc, 16px -8px 0 -8px #002dcc, 16px 8px 0 -8px #002dcc, 0 18px 0 -8px #002dcc, -16px 8px 0 -8px #002dcc, -16px -8px 0 -8px #002dcc;
    }
    100% {
        background: #002dcc;
        box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
}
@keyframes splash-12 {
    40% {
        background: #002dcc;
        box-shadow: 0 -18px 0 -8px #002dcc, 16px -8px 0 -8px #002dcc, 16px 8px 0 -8px #002dcc, 0 18px 0 -8px #002dcc, -16px 8px 0 -8px #002dcc, -16px -8px 0 -8px #002dcc;
    }
    100% {
        background: #002dcc;
        box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
}

/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #e5e5e5;
}



